
<p>
  
    "images" works!
    <br>        
    number of entries in animal array: {{ getImages().length }}
    <br>
    <li *ngFor="let image of getImages()" > 
        {{ image.id }}
        <br>
        {{ image.image }}
        <br>
        {{image.icon}}
        <img src="http://10.0.1.14/images/{{image.icon}}" alt="{{ image.icon }}">
        <br>
        {{ image.description }}
        <br>
<div class="row">
    <div class="col-xm-12">
        Content animals in the picture
    </div>
</div>
    </li>

</p>


<div class="row">
    <div class="col-xs-12">

    </div>
</div>